.container.main{
    display: flex;
    justify-content: space-between;
    
}
.options{
    
    border-right: 5px solid black;
    padding-right: 20px;
    position: relative;
}
@media (max-width: 456px) {
    .options{
        width: 150px;
    }
}
.options::after{
    content: '';
    display: block;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #000;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -28px;
    right: -17px;
}
.pokemonList{

    max-width: 845px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* @media (max-width: 1110px) {
    .pokemonList{
        width: 100%;
    }
    
} */
.pokemonRender{
    width: 100%; 
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}